input[type=file]::file-selector-button {
    border: none;
    background-color: #EDEDED;
    transition: 1s;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #707275;
    border: none
  }

  .btn-primary {
    background-color: rgb(36, 72, 150);
    border: none;
    }

 