    <div class="card">
        <div class="card-body">
            <h3 class="font-14">Пребарувај</h3>
            <form>
                <div class="form-group row">
                    <div class="col-sm-4 col-lg-6 mb-3 mb-sm-0">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="col-sm-4 col-lg-6">
                        <button class="btn btn-primary " type="submit">Search</button>

                    </div>
                </div>
            </form>
        </div>
        <div class="card-body border-top">
            <h3 class="font-14">Временски интервал</h3>
            <div class="form-group row">

                <div class="col-sm-3 col-lg-6 mb-3 mb-sm-0">
                    <label>Од <small class="text-muted"></small></label>
                    <input type="text" class="form-control date-inputmask" id="date-mask" im-insert="true">
                </div>
                <div class="col-sm-3 col-lg-6">
                    <label>До <small class="text-muted"></small></label>
                    <input type="text" class="form-control date-inputmask" id="date-mask" im-insert="true">
                </div>
            </div>

        </div>
        <div class="card-body border-top">
            <h3 class="font-14">Вид на медиум</h3>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck10">
                <label class="custom-control-label" for="customCheck10">Сите</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck11">
                <label class="custom-control-label" for="customCheck11">Печатени</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck12">
                <label class="custom-control-label" for="customCheck12">Веб</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck13">
                <label class="custom-control-label" for="customCheck13">Телевизија</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck14">
                <label class="custom-control-label" for="customCheck14">Радио</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck14">
                <label class="custom-control-label" for="customCheck14">Социјални Медиуми</label>
            </div>
        </div>
        <div class="card-body border-top">
            <h3 class="font-14">Оценети Вести</h3>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck15">
                <label class="custom-control-label" for="customCheck15">Омилени</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck16">
                <label class="custom-control-label" for="customCheck16">Неутрални</label>
            </div>

        </div>
        <div class="card-body border-top">
            <div class="form-group row">
                <div class="col-sm-4 col-lg-6 mb-3 mb-sm-0">
                    <a href="#" class="btn btn-primary">Прикажи</a>
                </div>

            </div>
        </div>
        <div class="card-body border-top">
            <div class="form-group row">
                <div class="col-sm-4 col-lg-6 mb-3 mb-sm-0">
                    <a href="#" class="btn btn-primary">Краток Извештај</a>
                </div>
                <div class="col-sm-4 col-lg-6">
                    <a href="#" class="btn btn-primary">Креирај Пдф</a>
                </div>
            </div>

        </div>
    </div>

