<!--div class="dashboard-wrapper">
    <div class="influence-finder">
        <div class="container-fluid dashboard-content"-->
<div class="row">
    <div class="col-12">
        <app-header></app-header>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <app-left-sidebar></app-left-sidebar>
    </div>
    <div class="col-md-7">
        <!-- ============================================================== -->
        <!-- card  one -->
        <!-- ============================================================== -->
        <div class="card" style="margin-top: 12%; margin-left: 3%;">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="user-avatar float-xl-left pr-4 float-none mt-4">
                            <img src="assets/images/avatar-1.jpg" alt="User Avatar" class="rounded user-avatar-xl">
                        </div>
                        <div class="pl-xl-12">
                            <div class="m-b-0">
                                <div class="user-avatar-name d-inline-block">
                                    <h6 class="font-12">14-04-2022</h6>
                                    <h4 class="font-18">Наслов</h4>
                                </div>
                                <div class="float-xl-right float-none mt-xl-0">
                                    <div>
                                        <a href="#" class="mr-1 badge badge-light"><input type="checkbox" name=""
                                                id=""></a><a href="#" class="mr-1 badge badge-light"><i
                                                class="fas fa-comment-alt"></i></a><a href="#"
                                            class="mr-1 badge badge-light"><i class="fas fa-smile"></i></a>
                                        <a href="#" class="badge badge-light"><i class="fas fa-star"></i></a>
                                    </div>
                                </div>


                                <!--div class="col-md-7"  style="margin-top: 4%">
        <br>
        <!-- ============================================================== --
        <!-- card  one -->
                                <!-- ============================================================== --
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="user-avatar float-xl-left pr-4 float-none mt-4">
                            <img src="assets/images/avatar-1.jpg" alt="User Avatar" class="rounded user-avatar-xl">
                        </div>
                        <div class="pl-xl-12">
                            <div class="m-b-0">
                                <div class="user-avatar-name d-inline-block">
                                    <h6 class="font-12">14-04-2022</h6>
                                    <h4 class="font-18">Наслов</h4>

                                </div>
                                <div class="float-xl-right float-none mt-xl-0">
                                    <div>
                                        <a href="#" class="mr-1 badge badge-light"><input type="checkbox" name=""
                                                id=""></a><a href="#" class="mr-1 badge badge-light"><i
                                                class="fas fa-comment-alt"></i></a><a href="#"
                                            class="mr-1 badge badge-light"><i class="fas fa-smile"></i></a>
                                        <a href="#" class="badge badge-light"><i class="fas fa-star"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="user-avatar-address">
                                <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Beatae soluta aliquid nihil, nesciunt ea accusantium necessitatibus
                                    repudiandae. Dolorum saepe dolor voluptatum sint molestiae error,
                                    nesciunt
                                    possimus quas dignissimos magnam hic!
                                </p>
                                <br>
                                <div class="float-xl-right float-none mt-xl-0" style="margin-top: -10px !important;;">
                                    <a href="#" class="btn btn-primary">Прикажи поврзани вести</a>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="border-top user-social-box">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="user-avatar float-xl-left pr-4 float-none mt-4">
                            <img src="assets/images/avatar-1.jpg" alt="User Avatar" class="rounded user-avatar-xl">
                        </div>
                        <div class="pl-xl-12">
                            <div class="m-b-0">
                                <div class="user-avatar-name d-inline-block">
                                    <h6 class="font-12">14-04-2022</h6>
                                    <h4 class="font-18">Наслов</h4>
                                </div>
                                <div class="float-xl-right float-none mt-xl-0">
                                    <div>
                                        <a href="#" class="mr-1 badge badge-light"><input type="checkbox" name=""
                                                id=""></a><a href="#" class="mr-1 badge badge-light"><i
                                                class="fas fa-comment-alt"></i></a><a href="#"
                                            class="mr-1 badge badge-light"><i class="fas fa-smile"></i></a>
                                        <a href="#" class="badge badge-light"><i class="fa fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="user-avatar-address">
                                <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Beatae soluta aliquid nihil, nesciunt ea accusantium necessitatibus
                                    repudiandae. Dolorum saepe dolor voluptatum sint molestiae error,
                                    nesciunt
                                    possimus quas dignissimos magnam hic!
                                </p>
                                <br>
                                <div class="float-xl-right float-none mt-xl-0" style="margin-top: -10px !important;;">
                                    <a href="#" class="btn btn-primary">Прикажи поврзани вести</a>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="border-top user-social-box">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="user-avatar float-xl-left pr-4 float-none mt-4">
                            <img src="assets/images/avatar-1.jpg" alt="User Avatar" class="rounded user-avatar-xl">
                        </div>
                        <div class="pl-xl-12">
                            <div class="m-b-0">
                                <div class="user-avatar-name d-inline-block">
                                    <h6 class="font-12">14-04-2022</h6>
                                    <h4 class="font-18">Наслов</h4>
                                </div>
                                <div class="float-xl-right float-none mt-xl-0">
                                    <div>
                                        <a href="#" class="mr-1 badge badge-light"><input type="checkbox" name=""
                                                id=""></a><a href="#" class="mr-1 badge badge-light"><i
                                                class="fas fa-comment-alt"></i></a><a href="#"
                                            class="mr-1 badge badge-light"><i class="fas fa-smile"></i></a>
                                        <a href="#" class="badge badge-light"><i class="fas fa-star"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="user-avatar-address">
                                <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Beatae soluta aliquid nihil, nesciunt ea accusantium necessitatibus
                                    repudiandae. Dolorum saepe dolor voluptatum sint molestiae error,
                                    nesciunt
                                    possimus quas dignissimos magnam hic!
                                </p>
                                <br>
                                <div class="float-xl-right float-none mt-xl-0" style="margin-top: -10px !important;;">
                                    <a href="#" class="btn btn-primary">Прикажи поврзани вести</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="border-top user-social-box">
            </div-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3" style="margin-top: 5%">
        <app-sidebar></app-sidebar>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <app-footer></app-footer>
    </div>
</div>