<app-header></app-header>
<div class="row">
<div class="col-md-2">
    <app-left-sidebar></app-left-sidebar>
</div>

<div class="col-md-7" style="margin-top: 5%;">
<h3 style="margin-left: 5%;"><b><i>Број на информации по таг</i></b></h3>
<div id="chartdiv" style="width: 80%; height: 500px; margin-left: 10%; "></div>


<app-info-po-tag-pie></app-info-po-tag-pie>

<app-info-tag-medium></app-info-tag-medium>

<app-info-po-den-tag></app-info-po-den-tag>
</div>

<div class="col-md-3" style="margin-top: 5%">
    <app-sidebar></app-sidebar>
</div>
</div>

<app-footer></app-footer>

