.z-10, .container {
    background-color: #EBEDF2;
    color: rgb(36, 72, 150);
  }
  .header
  {
    background-color: #EBEDF2;
    color: rgb(36, 72, 150);
  }
  .div-1.flex {
    color: white;
    color: rgb(36, 72, 150);
  }