.btn-danger {
  background-color:  rgb(222,222,221);
  border-color: rgb(36, 72, 150);; 
  color: rgb(36, 72, 150);
}

.btn-primary {
background-color: rgb(36, 72, 150);
border: none;
}

.div-1.flex {
  background-color: #EBEDF2; 
  border-color: rgb(36, 72, 150);
  border-style: solid;
}

.btn.btn-set {
  padding: 5px 5px 5px 5px;
}

span.tctype {
  background-color:  #EBEDF2; ;
  color: black;
  margin: 0px 0px 0px 3px;
  padding:  0px 5px;
  font-size: x-small;
}

.div-5, .text-p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  
  

